body{

margin:0;

overflow:hidden;

background:black;

font-family:Consolas,monospace;

color:#00ff00;

}

canvas{

position:fixed;

left:0;

top:0;

z-index:0;

}

.box{

position:absolute;

left:50%;

top:50%;

transform:translate(-50%,-50%);

width:80%;

max-width:900px;

background:rgba(0,0,0,.85);

border:2px solid #00ff00;

padding:20px;

z-index:1;

}

h1{

text-align:center;

}

#terminal{

height:300px;

overflow:auto;

font-size:18px;

white-space:pre-wrap;

}

.progress{

margin-top:20px;

height:20px;

border:1px solid #00ff00;

}

#bar{

height:100%;

width:0%;

background:#00ff00;

transition:.3s;

}
